body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body .main {
  min-width: 410px;
  width: 100%;
}
body .main .catalog {
  width: 100%;
  display: flex;
}
body .main .catalog .cat1 {
  height: 25px;
  background-color: rgb(197, 197, 197);
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border: 1px solid black;
  font-size: 21px;
}
body .main .catalog .cat1 .Active {
  color: rgb(224, 6, 252);
}
body .main .catalog .cat1 .Pending {
  text-decoration: none;
  color: black;
}
body .ser {
  width: 100%;
  height: 25px;
  min-width: 410px;
  display: flex;
}
body .ser .serBut {
  width: 100px;
  height: 30px;
}
body .main1 {
  width: 95%;
  margin: 30px auto;
  display: grid;
  min-width: 410px;
  row-gap: 70px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
body .main1 .item {
  width: 100%;
  height: 230px;
}
body .main1 .item .itemName {
  width: 200px;
  text-align: center;
}
body .main1 .item .itemLink {
  color: rgb(135, 135, 135);
  text-decoration: none;
  font-size: 22px;
}
body .main1 .item .itemImg {
  width: 200px;
  height: 100%;
  margin: auto;
}
body .main1 .item .itemImgMac {
  width: 260px;
  height: 72%;
  margin: 30px auto;
}
body .main1 .item .itemNameMac {
  width: 260px;
  text-align: center;
}
body .main1 .item .itemPriceMac {
  font-weight: bold;
  width: 260px;
  text-align: center;
  color: rgb(12, 12, 12);
}
body .main1 .item .itemPrice {
  font-weight: bold;
  width: 200px;
  text-align: center;
  color: rgb(5, 5, 5);
}
body .sel {
  margin-top: 1px;
  min-width: 410px;
}
body .sel .select {
  height: 20px;
  background-color: rgb(237, 237, 237);
  border-radius: 0 0 2px 2px;
  margin-top: 2px;
}
body .login {
  margin: 150px auto;
  width: 300px;
  height: 300px;
  background: transparent;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgb(193, 192, 192);
}
body .user {
  margin: 150px auto;
  width: 300px;
  height: 240px;
  background: transparent;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgb(193, 192, 192);
}
body .info {
  width: 80%;
  height: 30px;
  margin: 25px auto;
}
body .reg1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}
body .reg1 .but1 {
  width: 80%;
  height: 100%;
  text-align: center;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  border: 1px solid grey;
}
body .reg1 .but1 .link1 {
  text-decoration: none;
  color: black;
}
body .itemList {
  width: 400px;
  margin: auto;
}
body .itemList .baskBack {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}
body .item1 {
  margin: 30px auto;
  width: 100%;
  height: 490px;
}
body .item2 {
  margin: 30px auto;
  width: 100%;
  height: 400px;
}
body .header {
  min-width: 410px;
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
}
body .header .header1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 40px;
}
body .header .header1 .headerDiv {
  font-size: 20px;
  margin-top: 25px;
}
body .header .header1 .headerDiv .headerLink {
  color: white;
  text-decoration: none;
}
body .header .header1 .headerDiv .ActivLink {
  color: rgb(227, 52, 250);
}
body .header .header1 .headerName {
  font-size: 35px;
  margin-top: 10px;
  letter-spacing: 1px;
}
body .error {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: red;
}
body .aboutDiv {
  overflow: hidden;
  position: relative;
  width: 370px;
  margin: 20px auto;
}
body .aboutDiv .imgDiv {
  transition: 1s;
  width: 1110px;
  display: flex;
  height: 400px;
}
body .aboutDiv .imgDiv .aboutImg {
  width: 360px;
  height: 400px;
}
body .aboutDivMac {
  overflow: hidden;
  position: relative;
  width: 450px;
  margin: 20px auto;
}
body .aboutDivMac .imgDivMac {
  transition: 1s;
  width: 1350px;
  display: flex;
  height: 280px;
}
body .aboutDivMac .imgDivMac .aboutImgMac {
  width: 450px;
  height: 250px;
}
body .scroll {
  z-index: 100;
  width: 100%;
  position: absolute;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
body .scroll .prev {
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  opacity: 0.5;
  rotate: 180deg;
}
body .scroll .next {
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  opacity: 0.5;
}
body .color {
  margin: auto;
  width: 70%;
  display: flex;
}
body .color .color0 {
  font-size: 20px;
  margin-top: 1px;
  width: 60px;
}
body .color .color1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
body .color .color1 .grey {
  border-radius: 50%;
  border: 1px solid rgb(4, 4, 4);
  width: 30px;
  height: 30px;
  background-color: grey;
}
body .color .color1 .white {
  border-radius: 50%;
  border: 1px solid rgb(4, 4, 4);
  width: 30px;
  height: 30px;
  background-color: rgb(254, 253, 253);
}
body .color .color1 .black {
  border-radius: 50%;
  border: 1px solid rgb(4, 4, 4);
  width: 30px;
  height: 30px;
  background-color: black;
}
body .aboutPrice {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 20px;
  color: rgb(5, 5, 5);
  font-weight: bold;
}
body .aboutName {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: grey;
}
body .divBut {
  width: 100%;
  margin-top: 10px;
  display: flex;
}
body .divBut .aboutBut {
  margin: auto;
  width: 80%;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid grey;
}
body .baskColor {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
body .baskImg {
  margin-left: 35px;
  width: 80%;
  height: 350px;
}
body .baskImgMac {
  width: 100%;
  height: 250px;
}
body .baskName {
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: grey;
}
body .baskPrice {
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: rgb(15, 15, 15);
  font-weight: bold;
}
body .baskLost {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-size: 30px;
}
body .if {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: white;
}
body input::-moz-placeholder {
  font-size: 17px;
  color: white;
  padding: 5px;
}
body input::placeholder {
  font-size: 17px;
  color: white;
  padding: 5px;
}
@media (max-width: 560px) {
  body .header {
    width: 100%;
  }
  body .main1 {
    display: block;
    width: 200px;
    margin: auto;
  }
  body .item {
    margin: 0 auto 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */